.pop-up {
    display: none;
    z-index: 2;
    background-color: aliceblue;
    height: 360px;
    width: 360px;
    position: fixed;
  }

.form-bg {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.3);
    position: fixed;
}

.form-show {
    display: block;
}

form button {
    width: 50%;
}

form input {
    width: 80%;
}
