html * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: #f7e2e2;
    display: flex;
    padding: 0 10%;
}

.container {
    background-color: #c8a7a7;
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    flex: 1;
    color: #454545;
}

.button-div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#addBook {
    font-size: 1.5rem;
    justify-content: flex-end;
    align-self: center;
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
    background-color: rgba(16, 130, 126, 0.873);
    color: #fff;
}

#addBook:hover {
    cursor: pointer;
    background-color: rgba(26, 149, 145, 0.873);
}


/* pop up form for adding books */
dialog {
    width: 400px;
    border: none;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

form button {
    width: 50%;
    margin: 4px;
    border: none;
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 5px;
}

form button:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

form input {
    width: 80%;
    padding: 8px;
    margin: 10px;
}

form .check {
    margin: 6px;
}

#read {
    width: 16px;
}


/*book shelf*/
.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    width: 80%;
    margin: 0 auto;
}

/* card for displaying books */
.card {
    margin-top: 24px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 5px 5px 5px #af8787;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.delete-button, .btn-read, .btn-unread {
    margin: 8px;
    border: none;
    font-size: 1rem;
    padding: 8px 4px;
    width: 30%;
    border-radius: 20px;
}

.btn-read {
    background-color: rgb(214, 237, 214);
}

.btn-unread {
    background-color: #ffe8c6;
}

.btn-read:hover, .btn-unread:hover {
    cursor: pointer;
}

.delete-button:hover {
    background-color: #7b2d2d;
    color: #fff;
    cursor: pointer;
    border: none;
}